h1 {
	color: #F57346;
	font-family: verdana;
	font-size: 500%
}

#tittle{
	background-color:black;
	color:white;
	padding:20px;
}

#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}


body {
	Background:
}