<!DOCTYPE html>
<html lang="en-US">

  {% load staticfiles %}
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'ms/style.css' %}" /> -->

  <div class="jumbotron">
	<head><title> BLA - Birds Love Arts </title></head>
	<h1 style="text-align:center"> BLA </h1>
	<hr>
	<h2 style="text-align:center"> Team: Veggie Birds </h2>
  </div>

  <div id="search_column">
	<form>
	  <fieldset>
	  <input type="text" name="ms_query" value="SEARCH.."></fieldset>
	</form>
  </div>

  <div id="search_bottom">
	<form>
	<input type="submit" value="search_db">
	</form>
  </div>

  <div class="row">
	<div class="col-sm-4">Mengyuan Diao</div>
	<div class="col-sm-4">Junhan Zhu</div>
	<div class="col-sm-4">Don Lee</div>
    <!-- <div class="col-sm-4">Ruihao Zhu</div> -->
  </div>


  <body>

  </body>
</html>
