<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
	<link rel="stylesheet"
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>

  <script>
	$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
	});
  </script>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'ms/style.css' %}" />

  <body>

	<div class="container">
	  <div id="BLA" class="col-sm-6">
		<h1> B<small>irds</small> L<small>ove</small> A<small>rts</small> </h1>

	  </div>

	  <div id="search_column" class="col-sm-12">
		<div class="col-sm-10">
		  <form action="." method="POST">
			{% csrf_token %}
			{{ form.content }}
		</div>
		<input type="submit" class="btn btn-primary" value="SEARCH"/>
		</form>
	  </div>



	  <div id="select_choices" class="col-sm-12">
		<div  class="col-sm-3">
		  Region
		  <select name="region" class="form-control">
			{% for region in region_list %}
			<option value="{{region}}">{{region}}</option>
			{% endfor %}
		  </select>
		</div>

		<div  class="col-sm-3">
		  Type
		  <select name="type" class="form-control">
			{% for type in type_list %}
			<option value="{{type}}">{{type}}</option>
			{% endfor %}
		  </select>
		</div>

		<div  class="col-sm-3">
		  Style
		  <select name="style" class="form-control">
			{% for style in style_list %}
			<option value="{{style}}">{{style}}</option>
			{% endfor %}
		  </select>
		</div>

		<!-- <div  class="col-sm-3"> -->
		<!-- <input type="submit" class="btn btn-primary" value="SEARCH -->
		<!-- 													COLLECTIONS"/> -->
		<!-- </div> -->
	  </div>


	  <div id="team">
		<div id="mengyuan" class="col-sm-3">Mengyuan Diao</div>
		<div id="junhan" class="col-sm-3">Junhan Zhu</div>
		<div id="don" class="col-sm-3">Don Lee</div>
		<div id="ruihao" class="col-sm-3">Ruihao Zhu</div>
	  </div>

	</div>

</div>
</body>
</html>
